In [15]:
# Do all the necessary imports
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import Select
from webdriver_manager.chrome import ChromeDriverManager
import time
import pandas as pd

In [16]:
# Launch a new Chrome window
driver = webdriver.Chrome(ChromeDriverManager().install())

====== WebDriver manager ======
Current google-chrome version is 96.0.4664
Get LATEST chromedriver version for 96.0.4664 google-chrome
Driver [/Users/areena.arora/.wdm/drivers/chromedriver/mac64/96.0.4664.45/chromedriver] found in cache
/var/folders/81/2s24wkdd02j9528vnjsx7m080000gn/T/ipykernel_31877/1677810314.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(ChromeDriverManager().install())

In [17]:
# Open the link
# driver.get("https://www.myvisajobs.com/Reports/2021-H1B-Visa-Category.aspx?T=WS")

In [18]:
# table = driver.find_element(By.TAG_NAME, "table")
# table.get_attribute('outerHTML')
# df = pd.read_html(table.get_attribute('outerHTML'))[3]
# df.columns = ['rank', 'state', 'number_of_applications' , 'average salary']
# df.drop(index=df.index[0], 
#         axis=0, 
#         inplace=True)
# df.head(3)

In [19]:
# df = pd.read_html(table.get_attribute('outerHTML'))[3]
# df

In [20]:
# df.columns = ['rank', 'state', 'number_of_applications' , 'average salary']

In [21]:
# df.drop(index=df.index[0], 
#         axis=0, 
#         inplace=True)

In [22]:
href_list = []
years = ["2016", "2017", "2018", "2019", "2020", "2021"]
for year in years:
    href = "https://www.myvisajobs.com/Reports/" + year + "-H1B-Visa-Category.aspx?T=WS#LCA"
#   print(href)
    href_list.append(href)

In [23]:
for each_link in href_list:
    print(each_link)

https://www.myvisajobs.com/Reports/2016-H1B-Visa-Category.aspx?T=WS#LCA
https://www.myvisajobs.com/Reports/2017-H1B-Visa-Category.aspx?T=WS#LCA
https://www.myvisajobs.com/Reports/2018-H1B-Visa-Category.aspx?T=WS#LCA
https://www.myvisajobs.com/Reports/2019-H1B-Visa-Category.aspx?T=WS#LCA
https://www.myvisajobs.com/Reports/2020-H1B-Visa-Category.aspx?T=WS#LCA
https://www.myvisajobs.com/Reports/2021-H1B-Visa-Category.aspx?T=WS#LCA

In [24]:
# for each_link in href_list:
#     driver.get("each_link")
#     table = driver.find_element(By.TAG_NAME, "table")
#     table.get_attribute('outerHTML')
#     df = pd.read_html(table.get_attribute('outerHTML'))[3]
#     df.columns = ['rank', 'state', 'number_of_applications' , 'average salary']
#     df.drop(index=df.index[0], 
#         axis=0, 
#         inplace=True)
#     df.head(3)

In [25]:
dataframes = []
def get_each_table(link):
    driver.get(link)
    table = driver.find_element(By.TAG_NAME, "table")
    table.get_attribute('outerHTML')
    df = pd.read_html(table.get_attribute('outerHTML'))[3]
    return df

In [29]:
for each_link in href_list:
    df_each_year = get_each_table(each_link)
    print(df_each_year)
# dataframes.append(df_each_year)    
# df = pd.concat(dataframes, ignore_index=False)
# df

                                                    0  \
0                                                Rank
1                                                   1
2                                                   2
3                                                   3
4                                                   4
5                                                   5
6                                                   6
7                                                   7
8                                                   8
9                                                   9
10                                                 10
11                                                 11
12                                                 12
13  (adsbygoogle = window.adsbygoogle || []).push(...
14                                                 13
15                                                 14
16                                                 15
17                                                 16
18                                                 17
19                                                 18
20                                                 19
21                                                 20
22                                                 21
23                                                 22
24                                                 23
25                                                 24
26                                                 25
27                                                 26
28                                                 27
29                                                 28
30                                                 29
31                                                 30
32                                                 31
33                                                 32
34                                                 33
35                                                 34
36                                                 35
37                                                 36
38                                                 37
39                                                 38
40                                                 39
41                                                 40
42                                                 41
43                                                 42
44                                                 43
45                                                 44
46                                                 45
47                                                 46
48                                                 47
49                                                 48
50                                                 49
51                                                 50
52                                                 51

                                                    1  \
0                                          Work State
1                                          California
2                                               Texas
3                                            New York
4                                          New Jersey
5                                            Illinois
6                                       Massachusetts
7                                             Georgia
8                                        Pennsylvania
9                                          Washington
10                                            Florida
11                                           Virginia
12                                           Michigan
13  (adsbygoogle = window.adsbygoogle || []).push(...
14                                     North Carolina
15                                               Ohio
16                                           Maryland
17                                        Connecticut
18                                          Minnesota
19                                            Arizona
20                                           Missouri
21                                          Wisconsin
22                                           Colorado
23                                            Indiana
24                                          Tennessee
25                                             Oregon
26                               District of Columbia
27                                           Delaware
28                                               Iowa
29                                           Arkansas
30                                       Rhode Island
31                                     South Carolina
32                                          Louisiana
33                                               Utah
34                                             Kansas
35                                           Kentucky
36                                      New Hampshire
37                                           Oklahoma
38                                            Alabama
39                                           Nebraska
40                                             Nevada
41                                         New Mexico
42                                        Mississippi
43                                              Idaho
44                                              Maine
45                                             Hawaii
46                                      West Virginia
47                                       North Dakota
48                                       South Dakota
49                                            Vermont
50                                             Alaska
51                                            Montana
52                                            Wyoming

                                                    2  \
0                                     Number of LCA *
1                                              115731
2                                               62541
3                                               55014
4                                               47657
5                                               32765
6                                               23485
7                                               23023
8                                               22200
9                                               21657
10                                              20396
11                                              19043
12                                              18314
13  (adsbygoogle = window.adsbygoogle || []).push(...
14                                              17411
15                                              16064
16                                              10887
17                                              10142
18                                               9972
19                                               8746
20                                               7182
21                                               6898
22                                               6829
23                                               6150
24                                               5161
25                                               4806
26                                               4099
27                                               3760
28                                               3208
29                                               3015
30                                               2881
31                                               2802
32                                               2703
33                                               2702
34                                               2599
35                                               2402
36                                               2078
37                                               2047
38                                               1873
39                                               1816
40                                               1350
41                                               1006
42                                                791
43                                                778
44                                                718
45                                                598
46                                                579
47                                                575
48                                                398
49                                                351
50                                                213
51                                                205
52                                                167

                                                    3
0                                      Average Salary
1                                             $96,716
2                                             $79,027
3                                             $90,765
4                                             $77,068
5                                             $78,415
6                                             $85,648
7                                             $77,441
8                                             $80,870
9                                             $98,117
10                                            $77,068
11                                            $78,685
12                                            $74,790
13  (adsbygoogle = window.adsbygoogle || []).push(...
14                                            $80,301
15                                            $76,766
16                                            $78,729
17                                            $83,752
18                                            $78,657
19                                            $81,055
20                                            $78,171
21                                            $79,338
22                                            $80,830
23                                            $81,155
24                                            $76,896
25                                            $83,816
26                                            $85,295
27                                            $80,084
28                                            $82,369
29                                            $77,955
30                                            $80,966
31                                            $75,347
32                                            $77,694
33                                            $74,737
34                                            $81,385
35                                            $83,321
36                                            $82,877
37                                            $75,511
38                                            $84,724
39                                            $78,695
40                                            $83,633
41                                            $87,994
42                                            $96,482
43                                            $77,729
44                                            $97,569
45                                            $75,336
46                                           $110,630
47                                           $101,039
48                                            $94,674
49                                            $84,762
50                                            $89,406
51                                            $88,639
52                                           $120,451

                                                    0  \
0                                                Rank
1                                                   1
2                                                   2
3                                                   3
4                                                   4
5                                                   5
6                                                   6
7                                                   7
8                                                   8
9                                                   9
10                                                 10
11                                                 11
12                                                 12
13  (adsbygoogle = window.adsbygoogle || []).push(...
14                                                 13
15                                                 14
16                                                 15
17                                                 16
18                                                 17
19                                                 18
20                                                 19
21                                                 20
22                                                 21
23                                                 22
24                                                 23
25                                                 24
26                                                 25
27                                                 26
28                                                 27
29                                                 28
30                                                 29
31                                                 30
32                                                 31
33                                                 32
34                                                 33
35                                                 34
36                                                 35
37                                                 36
38                                                 37
39                                                 38
40                                                 39
41                                                 40
42                                                 41
43                                                 42
44                                                 43
45                                                 44
46                                                 45
47                                                 46
48                                                 47
49                                                 48
50                                                 49
51                                                 50
52                                                 51

                                                    1  \
0                                          Work State
1                                          California
2                                               Texas
3                                            New York
4                                          New Jersey
5                                            Illinois
6                                       Massachusetts
7                                             Georgia
8                                        Pennsylvania
9                                          Washington
10                                           Michigan
11                                            Florida
12                                           Virginia
13  (adsbygoogle = window.adsbygoogle || []).push(...
14                                     North Carolina
15                                               Ohio
16                                           Maryland
17                                        Connecticut
18                                          Minnesota
19                                            Arizona
20                                           Missouri
21                                          Wisconsin
22                                           Colorado
23                                            Indiana
24                                          Tennessee
25                                             Oregon
26                               District of Columbia
27                                           Delaware
28                                           Arkansas
29                                     South Carolina
30                                               Iowa
31                                               Utah
32                                             Kansas
33                                           Kentucky
34                                       Rhode Island
35                                          Louisiana
36                                            Alabama
37                                           Oklahoma
38                                           Nebraska
39                                      New Hampshire
40                                             Nevada
41                                         New Mexico
42                                              Idaho
43                                        Mississippi
44                                              Maine
45                                      West Virginia
46                                             Hawaii
47                                       North Dakota
48                                            Vermont
49                                       South Dakota
50                                             Alaska
51                                            Montana
52                                            Wyoming

                                                    2  \
0                                     Number of LCA *
1                                              119744
2                                               68460
3                                               58660
4                                               48365
5                                               35177
6                                               24887
7                                               24859
8                                               23376
9                                               23146
10                                              20966
11                                              20848
12                                              18902
13  (adsbygoogle = window.adsbygoogle || []).push(...
14                                              18845
15                                              16342
16                                              10739
17                                              10034
18                                               9938
19                                               9732
20                                               7971
21                                               7046
22                                               6501
23                                               6399
24                                               5652
25                                               4718
26                                               4134
27                                               3521
28                                               3406
29                                               2952
30                                               2940
31                                               2887
32                                               2768
33                                               2624
34                                               2457
35                                               2191
36                                               2053
37                                               2015
38                                               2014
39                                               1906
40                                               1396
41                                               1039
42                                                887
43                                                839
44                                                687
45                                                617
46                                                557
47                                                544
48                                                366
49                                                347
50                                                201
51                                                191
52                                                137

                                                    3
0                                      Average Salary
1                                            $100,542
2                                             $79,940
3                                             $92,567
4                                             $78,908
5                                             $81,842
6                                             $87,638
7                                             $79,504
8                                             $84,692
9                                            $102,779
10                                            $77,545
11                                            $78,039
12                                            $81,852
13  (adsbygoogle = window.adsbygoogle || []).push(...
14                                            $82,486
15                                            $80,292
16                                            $81,851
17                                            $86,838
18                                            $83,414
19                                            $83,345
20                                            $78,011
21                                            $82,666
22                                            $85,639
23                                            $81,569
24                                            $79,330
25                                            $86,092
26                                            $86,293
27                                            $84,892
28                                            $78,780
29                                            $78,275
30                                            $83,365
31                                            $79,034
32                                            $84,216
33                                            $83,644
34                                            $86,683
35                                            $88,751
36                                            $80,989
37                                            $74,551
38                                            $83,223
39                                            $84,485
40                                            $86,596
41                                            $95,587
42                                            $79,349
43                                            $97,002
44                                           $104,311
45                                           $114,471
46                                            $77,837
47                                           $103,572
48                                            $81,878
49                                            $84,426
50                                            $84,652
51                                            $88,029
52                                           $102,661

                                                    0  \
0                                                Rank
1                                                   1
2                                                   2
3                                                   3
4                                                   4
5                                                   5
6                                                   6
7                                                   7
8                                                   8
9                                                   9
10                                                 10
11                                                 11
12                                                 12
13  (adsbygoogle = window.adsbygoogle || []).push(...
14                                                 13
15                                                 14
16                                                 15
17                                                 16
18                                                 17
19                                                 18
20                                                 19
21                                                 20
22                                                 21
23                                                 22
24                                                 23
25                                                 24
26                                                 25
27                                                 26
28                                                 27
29                                                 28
30                                                 29
31                                                 30
32                                                 31
33                                                 32
34                                                 33
35                                                 34
36                                                 35
37                                                 36
38                                                 37
39                                                 38
40                                                 39
41                                                 40
42                                                 41
43                                                 42
44                                                 43
45                                                 44
46                                                 45
47                                                 46
48                                                 47
49                                                 48
50                                                 49
51                                                 50
52                                                 51

                                                    1  \
0                                          Work State
1                                          California
2                                               Texas
3                                            New York
4                                          New Jersey
5                                            Illinois
6                                          Washington
7                                       Massachusetts
8                                             Georgia
9                                             Florida
10                                       Pennsylvania
11                                           Michigan
12                                           Virginia
13  (adsbygoogle = window.adsbygoogle || []).push(...
14                                     North Carolina
15                                               Ohio
16                                           Maryland
17                                          Minnesota
18                                            Arizona
19                                           Missouri
20                                        Connecticut
21                                          Tennessee
22                                           Colorado
23                                          Wisconsin
24                                            Indiana
25                                             Oregon
26                               District of Columbia
27                                           Delaware
28                                               Utah
29                                               Iowa
30                                     South Carolina
31                                           Arkansas
32                                             Kansas
33                                           Kentucky
34                                       Rhode Island
35                                           Nebraska
36                                          Louisiana
37                                           Oklahoma
38                                            Alabama
39                                             Nevada
40                                      New Hampshire
41                                              Idaho
42                                         New Mexico
43                                        Mississippi
44                                              Maine
45                                             Hawaii
46                                      West Virginia
47                                       North Dakota
48                                            Vermont
49                                       South Dakota
50                                             Alaska
51                                            Montana
52                                            Wyoming

                                                    2  \
0                                     Number of LCA *
1                                              119389
2                                               66151
3                                               54957
4                                               42567
5                                               32078
6                                               25475
7                                               25010
8                                               22518
9                                               21803
10                                              21598
11                                              20220
12                                              17852
13  (adsbygoogle = window.adsbygoogle || []).push(...
14                                              17132
15                                              15466
16                                              10670
17                                              10390
18                                               9453
19                                               8134
20                                               8130
21                                               6859
22                                               6575
23                                               6507
24                                               6114
25                                               4725
26                                               4201
27                                               3360
28                                               3100
29                                               3094
30                                               2907
31                                               2781
32                                               2738
33                                               2625
34                                               2342
35                                               2081
36                                               1943
37                                               1740
38                                               1735
39                                               1473
40                                               1417
41                                                874
42                                                861
43                                                745
44                                                657
45                                                552
46                                                526
47                                                454
48                                                407
49                                                299
50                                                204
51                                                194
52                                                144

                                                    3
0                                      Average Salary
1                                            $105,772
2                                             $83,506
3                                             $97,330
4                                             $82,958
5                                             $84,780
6                                            $107,181
7                                             $91,549
8                                             $81,126
9                                             $80,161
10                                            $85,057
11                                            $81,555
12                                            $86,501
13  (adsbygoogle = window.adsbygoogle || []).push(...
14                                            $86,012
15                                            $83,333
16                                            $84,278
17                                            $83,717
18                                            $83,800
19                                            $82,170
20                                            $89,387
21                                            $78,684
22                                            $86,319
23                                            $85,506
24                                            $82,923
25                                            $90,709
26                                            $89,690
27                                            $89,757
28                                            $79,026
29                                            $87,398
30                                            $80,709
31                                            $84,107
32                                            $84,387
33                                            $84,172
34                                            $86,623
35                                            $83,357
36                                            $87,471
37                                            $81,248
38                                            $84,652
39                                            $87,772
40                                            $89,403
41                                            $81,958
42                                           $101,654
43                                           $106,911
44                                            $99,215
45                                            $84,299
46                                           $134,320
47                                           $101,166
48                                            $85,111
49                                            $98,192
50                                            $96,095
51                                           $104,171
52                                           $106,093

                                                    0  \
0                                                Rank
1                                                   1
2                                                   2
3                                                   3
4                                                   4
5                                                   5
6                                                   6
7                                                   7
8                                                   8
9                                                   9
10                                                 10
11                                                 11
12                                                 12
13  (adsbygoogle = window.adsbygoogle || []).push(...
14                                                 13
15                                                 14
16                                                 15
17                                                 16
18                                                 17
19                                                 18
20                                                 19
21                                                 20
22                                                 21
23                                                 22
24                                                 23
25                                                 24
26                                                 25
27                                                 26
28                                                 27
29                                                 28
30                                                 29
31                                                 30
32                                                 31
33                                                 32
34                                                 33
35                                                 34
36                                                 35
37                                                 36
38                                                 37
39                                                 38
40                                                 39
41                                                 40
42                                                 41
43                                                 42
44                                                 43
45                                                 44
46                                                 45
47                                                 46
48                                                 47
49                                                 48
50                                                 49
51                                                 50
52                                                 51

                                                    1  \
0                                          Work State
1                                          California
2                                               Texas
3                                            New York
4                                          New Jersey
5                                            Illinois
6                                          Washington
7                                       Massachusetts
8                                        Pennsylvania
9                                             Georgia
10                                            Florida
11                                           Michigan
12                                           Virginia
13  (adsbygoogle = window.adsbygoogle || []).push(...
14                                     North Carolina
15                                               Ohio
16                                          Minnesota
17                                           Maryland
18                                            Arizona
19                                        Connecticut
20                                           Missouri
21                                           Colorado
22                                          Tennessee
23                                            Indiana
24                                          Wisconsin
25                                             Oregon
26                               District of Columbia
27                                           Delaware
28                                           Arkansas
29                                               Iowa
30                                               Utah
31                                     South Carolina
32                                             Kansas
33                                           Kentucky
34                                           Nebraska
35                                       Rhode Island
36                                            Alabama
37                                           Oklahoma
38                                          Louisiana
39                                             Nevada
40                                      New Hampshire
41                                         New Mexico
42                                              Idaho
43                                        Mississippi
44                                              Maine
45                                             Hawaii
46                                      West Virginia
47                                       North Dakota
48                                            Vermont
49                                       South Dakota
50                                            Montana
51                                             Alaska
52                                            Wyoming

                                                    2  \
0                                     Number of LCA *
1                                              128467
2                                               64494
3                                               58273
4                                               40736
5                                               31952
6                                               26838
7                                               25966
8                                               25828
9                                               23308
10                                              23170
11                                              21737
12                                              18562
13  (adsbygoogle = window.adsbygoogle || []).push(...
14                                              18490
15                                              15958
16                                              10909
17                                              10894
18                                              10029
19                                               8892
20                                               8793
21                                               7377
22                                               7264
23                                               6913
24                                               6681
25                                               4645
26                                               4217
27                                               3931
28                                               3521
29                                               3409
30                                               3359
31                                               3228
32                                               2801
33                                               2762
34                                               2442
35                                               2279
36                                               1917
37                                               1898
38                                               1794
39                                               1678
40                                               1662
41                                               1033
42                                                908
43                                                760
44                                                676
45                                                539
46                                                527
47                                                497
48                                                439
49                                                363
50                                                229
51                                                215
52                                                181

                                                    3
0                                      Average Salary
1                                            $115,287
2                                             $93,084
3                                            $105,762
4                                             $95,105
5                                             $91,837
6                                            $115,793
7                                             $97,797
8                                             $89,650
9                                             $89,763
10                                            $85,627
11                                            $86,272
12                                            $94,544
13  (adsbygoogle = window.adsbygoogle || []).push(...
14                                            $93,795
15                                            $89,334
16                                            $90,062
17                                            $92,187
18                                            $91,452
19                                            $95,482
20                                            $90,611
21                                            $93,338
22                                            $82,410
23                                            $87,877
24                                            $91,209
25                                            $96,054
26                                            $98,537
27                                            $97,526
28                                            $86,690
29                                            $91,268
30                                            $84,922
31                                            $86,876
32                                            $90,230
33                                            $91,688
34                                            $89,200
35                                            $93,362
36                                            $95,382
37                                            $83,133
38                                            $91,676
39                                            $97,408
40                                            $96,817
41                                           $103,964
42                                            $85,752
43                                           $107,857
44                                           $115,390
45                                            $86,221
46                                           $128,994
47                                           $121,523
48                                            $92,521
49                                           $101,027
50                                            $91,064
51                                            $99,689
52                                            $95,346

                                                    0  \
0                                                Rank
1                                                   1
2                                                   2
3                                                   3
4                                                   4
5                                                   5
6                                                   6
7                                                   7
8                                                   8
9                                                   9
10                                                 10
11                                                 11
12                                                 12
13  (adsbygoogle = window.adsbygoogle || []).push(...
14                                                 13
15                                                 14
16                                                 15
17                                                 16
18                                                 17
19                                                 18
20                                                 19
21                                                 20
22                                                 21
23                                                 22
24                                                 23
25                                                 24
26                                                 25
27                                                 26
28                                                 27
29                                                 28
30                                                 29
31                                                 30
32                                                 31
33                                                 32
34                                                 33
35                                                 34
36                                                 35
37                                                 36
38                                                 37
39                                                 38
40                                                 39
41                                                 40
42                                                 41
43                                                 42
44                                                 43
45                                                 44
46                                                 45
47                                                 46
48                                                 47
49                                                 48
50                                                 49
51                                                 50
52                                                 51

                                                    1  \
0                                          Work State
1                                          California
2                                               Texas
3                                            New York
4                                          New Jersey
5                                            Illinois
6                                          Washington
7                                       Massachusetts
8                                        Pennsylvania
9                                             Georgia
10                                            Florida
11                                     North Carolina
12                                           Michigan
13  (adsbygoogle = window.adsbygoogle || []).push(...
14                                           Virginia
15                                               Ohio
16                                            Arizona
17                                           Maryland
18                                          Minnesota
19                                        Connecticut
20                                           Missouri
21                                           Colorado
22                                            Indiana
23                                          Tennessee
24                                          Wisconsin
25                                             Oregon
26                                           Arkansas
27                               District of Columbia
28                                               Utah
29                                           Delaware
30                                               Iowa
31                                     South Carolina
32                                           Kentucky
33                                             Kansas
34                                       Rhode Island
35                                           Nebraska
36                                            Alabama
37                                          Louisiana
38                                           Oklahoma
39                                             Nevada
40                                      New Hampshire
41                                         New Mexico
42                                        Mississippi
43                                              Idaho
44                                      West Virginia
45                                              Maine
46                                             Hawaii
47                                       North Dakota
48                                            Vermont
49                                       South Dakota
50                                            Montana
51                                             Alaska
52                                            Wyoming

                                                    2  \
0                                     Number of LCA *
1                                              132224
2                                               66699
3                                               56869
4                                               38854
5                                               32804
6                                               29849
7                                               26519
8                                               22681
9                                               22644
10                                              21894
11                                              21310
12                                              21175
13  (adsbygoogle = window.adsbygoogle || []).push(...
14                                              18779
15                                              16398
16                                              11527
17                                              10801
18                                              10493
19                                              10177
20                                               9383
21                                               7694
22                                               7526
23                                               7320
24                                               6937
25                                               5263
26                                               4356
27                                               4217
28                                               3783
29                                               3384
30                                               3374
31                                               3334
32                                               2880
33                                               2681
34                                               2541
35                                               2302
36                                               1993
37                                               1883
38                                               1770
39                                               1733
40                                               1697
41                                               1072
42                                                914
43                                                841
44                                                536
45                                                529
46                                                513
47                                                433
48                                                401
49                                                280
50                                                189
51                                                172
52                                                160

                                                    3
0                                      Average Salary
1                                            $121,931
2                                             $97,574
3                                            $111,221
4                                            $100,796
5                                             $95,392
6                                            $122,152
7                                            $101,584
8                                             $95,808
9                                             $93,898
10                                            $88,005
11                                            $96,430
12                                            $89,610
13  (adsbygoogle = window.adsbygoogle || []).push(...
14                                            $98,218
15                                            $90,900
16                                            $92,631
17                                            $96,785
18                                            $93,278
19                                            $99,205
20                                            $92,074
21                                            $96,592
22                                            $88,344
23                                            $87,319
24                                            $93,476
25                                            $99,993
26                                            $85,937
27                                           $102,244
28                                            $88,742
29                                           $101,456
30                                            $95,176
31                                            $88,229
32                                            $91,114
33                                            $91,381
34                                            $94,808
35                                            $89,970
36                                            $98,615
37                                            $96,270
38                                            $87,157
39                                            $97,683
40                                            $95,478
41                                           $107,844
42                                           $115,957
43                                            $89,797
44                                           $125,234
45                                           $121,391
46                                            $95,051
47                                           $123,493
48                                            $92,224
49                                           $101,168
50                                           $105,276
51                                           $122,118
52                                           $106,326

                                                    0  \
0                                                Rank
1                                                   1
2                                                   2
3                                                   3
4                                                   4
5                                                   5
6                                                   6
7                                                   7
8                                                   8
9                                                   9
10                                                 10
11                                                 11
12                                                 12
13  (adsbygoogle = window.adsbygoogle || []).push(...
14                                                 13
15                                                 14
16                                                 15
17                                                 16
18                                                 17
19                                                 18
20                                                 19
21                                                 20
22                                                 21
23                                                 22
24                                                 23
25                                                 24
26                                                 25
27                                                 26
28                                                 27
29                                                 28
30                                                 29
31                                                 30
32                                                 31
33                                                 32
34                                                 33
35                                                 34
36                                                 35
37                                                 36
38                                                 37
39                                                 38
40                                                 39
41                                                 40
42                                                 41
43                                                 42
44                                                 43
45                                                 44
46                                                 45
47                                                 46
48                                                 47
49                                                 48
50                                                 49
51                                                 50
52                                                 51

                                                    1  \
0                                          Work State
1                                          California
2                                               Texas
3                                            New York
4                                          Washington
5                                          New Jersey
6                                            Illinois
7                                       Massachusetts
8                                      North Carolina
9                                        Pennsylvania
10                                            Georgia
11                                           Michigan
12                                            Florida
13  (adsbygoogle = window.adsbygoogle || []).push(...
14                                           Virginia
15                                               Ohio
16                                            Arizona
17                                           Maryland
18                                          Minnesota
19                                        Connecticut
20                                           Missouri
21                                           Colorado
22                                          Tennessee
23                                            Indiana
24                                          Wisconsin
25                                             Oregon
26                                           Arkansas
27                               District of Columbia
28                                               Utah
29                                               Iowa
30                                           Delaware
31                                           Kentucky
32                                     South Carolina
33                                       Rhode Island
34                                             Kansas
35                                           Nebraska
36                                            Alabama
37                                      New Hampshire
38                                           Oklahoma
39                                          Louisiana
40                                             Nevada
41                                         New Mexico
42                                        Mississippi
43                                              Idaho
44                                              Maine
45                                      West Virginia
46                                             Hawaii
47                                       North Dakota
48                                       South Dakota
49                                            Vermont
50                                            Montana
51                                             Alaska
52                                            Wyoming

                                                    2  \
0                                     Number of LCA *
1                                              115871
2                                               59022
3                                               46800
4                                               32392
5                                               31283
6                                               27672
7                                               22819
8                                               20792
9                                               19750
10                                              19595
11                                              17233
12                                              17197
13  (adsbygoogle = window.adsbygoogle || []).push(...
14                                              16781
15                                              13991
16                                              10070
17                                               9353
18                                               8813
19                                               8638
20                                               8213
21                                               6472
22                                               6438
23                                               6017
24                                               5491
25                                               4405
26                                               4166
27                                               3757
28                                               3036
29                                               2896
30                                               2890
31                                               2654
32                                               2604
33                                               2238
34                                               2173
35                                               1880
36                                               1727
37                                               1559
38                                               1473
39                                               1454
40                                               1393
41                                                972
42                                                778
43                                                737
44                                                503
45                                                422
46                                                393
47                                                333
48                                                284
49                                                226
50                                                159
51                                                117
52                                                 96

                                                    3
0                                      Average Salary
1                                            $133,057
2                                            $103,411
3                                            $119,431
4                                            $130,648
5                                            $108,412
6                                            $101,266
7                                            $108,441
8                                            $102,793
9                                            $101,629
10                                           $100,349
11                                            $93,223
12                                            $96,247
13  (adsbygoogle = window.adsbygoogle || []).push(...
14                                           $104,450
15                                            $97,154
16                                            $98,698
17                                           $103,244
18                                           $100,008
19                                           $103,595
20                                            $96,802
21                                           $103,715
22                                            $93,109
23                                            $94,089
24                                            $98,665
25                                           $106,083
26                                            $90,937
27                                           $108,155
28                                            $93,807
29                                            $99,313
30                                           $106,048
31                                            $95,828
32                                            $95,461
33                                           $102,339
34                                            $97,535
35                                            $96,472
36                                           $106,244
37                                           $103,829
38                                            $94,473
39                                           $109,767
40                                           $103,720
41                                           $107,422
42                                           $122,443
43                                            $98,180
44                                           $127,667
45                                           $154,387
46                                           $103,854
47                                           $121,633
48                                           $113,815
49                                            $97,207
50                                           $117,393
51                                           $108,937
52                                           $123,032