In [1]:
# Do all the necessary imports
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import Select
from webdriver_manager.chrome import ChromeDriverManager
import time
import pandas as pd

/Users/areena.arora/.pyenv/versions/3.10.0/lib/python3.10/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
# Launch a new Chrome window
driver = webdriver.Chrome(ChromeDriverManager().install())

====== WebDriver manager ======
Current google-chrome version is 96.0.4664
Get LATEST chromedriver version for 96.0.4664 google-chrome
Driver [/Users/areena.arora/.wdm/drivers/chromedriver/mac64/96.0.4664.45/chromedriver] found in cache
/var/folders/81/2s24wkdd02j9528vnjsx7m080000gn/T/ipykernel_45800/1677810314.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(ChromeDriverManager().install())

In [ ]:
# Open the link
# driver.get("https://www.myvisajobs.com/Reports/2021-H1B-Visa-Category.aspx?T=WS")

In [ ]:
# table = driver.find_element(By.TAG_NAME, "table")
# table.get_attribute('outerHTML')
# df = pd.read_html(table.get_attribute('outerHTML'))[3]
# df.columns = ['rank', 'state', 'number_of_applications' , 'average salary']
# df.drop(index=df.index[0], 
#         axis=0, 
#         inplace=True)
# df.head(3)

In [ ]:
# df = pd.read_html(table.get_attribute('outerHTML'))[3]
# df

In [ ]:
# df.columns = ['rank', 'state', 'number_of_applications' , 'average salary']

In [ ]:
# df.drop(index=df.index[0], 
#         axis=0, 
#         inplace=True)

In [3]:
href_list = []
years = ["2016", "2017", "2018", "2019", "2020", "2021"]
for year in years:
    href = "https://www.myvisajobs.com/Reports/" + year + "-H1B-Visa-Category.aspx?T=WS#LCA"
#   print(href)
    href_list.append(href)

In [4]:
for each_link in href_list:
    print(each_link)

https://www.myvisajobs.com/Reports/2016-H1B-Visa-Category.aspx?T=WS#LCA
https://www.myvisajobs.com/Reports/2017-H1B-Visa-Category.aspx?T=WS#LCA
https://www.myvisajobs.com/Reports/2018-H1B-Visa-Category.aspx?T=WS#LCA
https://www.myvisajobs.com/Reports/2019-H1B-Visa-Category.aspx?T=WS#LCA
https://www.myvisajobs.com/Reports/2020-H1B-Visa-Category.aspx?T=WS#LCA
https://www.myvisajobs.com/Reports/2021-H1B-Visa-Category.aspx?T=WS#LCA

In [ ]:
# for each_link in href_list:
#     driver.get("each_link")
#     table = driver.find_element(By.TAG_NAME, "table")
#     table.get_attribute('outerHTML')
#     df = pd.read_html(table.get_attribute('outerHTML'))[3]
#     df.columns = ['rank', 'state', 'number_of_applications' , 'average salary']
#     df.drop(index=df.index[0], 
#         axis=0, 
#         inplace=True)
#     df.head(3)

In [6]:
dataframes = []
def get_each_table(link):
    driver.get(link)
    table = driver.find_element(By.TAG_NAME, "table")
    table.get_attribute('outerHTML')
    df = pd.read_html(table.get_attribute('outerHTML'))[3]
    return df

In [7]:
for each_link in href_list:
    df_each_year = get_each_table(each_link)
    df_each_year.drop(13)
    
# dataframes.append(df_each_year)    
# df = pd.concat(dataframes, ignore_index=False)
# df

In [ ]:
# df_each_year.drop(13)

In [ ]:
# df_each_year.to_excel("master.xlsx")

In [16]:
df_each_year.rename(columns=lambda x: df_each_year[x][0]).drop(0).drop(13)

   Rank            Work State Number of LCA * Average Salary
1     1            California          115871       $133,057
2     2                 Texas           59022       $103,411
3     3              New York           46800       $119,431
4     4            Washington           32392       $130,648
5     5            New Jersey           31283       $108,412
6     6              Illinois           27672       $101,266
7     7         Massachusetts           22819       $108,441
8     8        North Carolina           20792       $102,793
9     9          Pennsylvania           19750       $101,629
10   10               Georgia           19595       $100,349
11   11              Michigan           17233        $93,223
12   12               Florida           17197        $96,247
14   13              Virginia           16781       $104,450
15   14                  Ohio           13991        $97,154
16   15               Arizona           10070        $98,698
17   16              Maryland            9353       $103,244
18   17             Minnesota            8813       $100,008
19   18           Connecticut            8638       $103,595
20   19              Missouri            8213        $96,802
21   20              Colorado            6472       $103,715
22   21             Tennessee            6438        $93,109
23   22               Indiana            6017        $94,089
24   23             Wisconsin            5491        $98,665
25   24                Oregon            4405       $106,083
26   25              Arkansas            4166        $90,937
27   26  District of Columbia            3757       $108,155
28   27                  Utah            3036        $93,807
29   28                  Iowa            2896        $99,313
30   29              Delaware            2890       $106,048
31   30              Kentucky            2654        $95,828
32   31        South Carolina            2604        $95,461
33   32          Rhode Island            2238       $102,339
34   33                Kansas            2173        $97,535
35   34              Nebraska            1880        $96,472
36   35               Alabama            1727       $106,244
37   36         New Hampshire            1559       $103,829
38   37              Oklahoma            1473        $94,473
39   38             Louisiana            1454       $109,767
40   39                Nevada            1393       $103,720
41   40            New Mexico             972       $107,422
42   41           Mississippi             778       $122,443
43   42                 Idaho             737        $98,180
44   43                 Maine             503       $127,667
45   44         West Virginia             422       $154,387
46   45                Hawaii             393       $103,854
47   46          North Dakota             333       $121,633
48   47          South Dakota             284       $113,815
49   48               Vermont             226        $97,207
50   49               Montana             159       $117,393
51   50                Alaska             117       $108,937
52   51               Wyoming              96       $123,032