In [1]:
# Do all the necessary imports
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import Select
from webdriver_manager.chrome import ChromeDriverManager
import time
import pandas as pd

/Users/areena.arora/.pyenv/versions/3.10.0/lib/python3.10/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
# Launch a new Chrome window
driver = webdriver.Chrome(ChromeDriverManager().install())

====== WebDriver manager ======
Current google-chrome version is 96.0.4664
Get LATEST chromedriver version for 96.0.4664 google-chrome
Driver [/Users/areena.arora/.wdm/drivers/chromedriver/mac64/96.0.4664.45/chromedriver] found in cache
/var/folders/81/2s24wkdd02j9528vnjsx7m080000gn/T/ipykernel_9610/1677810314.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(ChromeDriverManager().install())

In [3]:
# Open the link
driver.get("https://www.myvisajobs.com/Reports/2021-H1B-Visa-Category.aspx?T=WS")

In [4]:
table = driver.find_element(By.TAG_NAME, "table")
table.get_attribute('outerHTML')

'<table style="height: auto !important;">\n<tbody><tr>\n<td colspan="3">\n<div style="width: 980px;  height: 20px; font-size:12px; padding-top: 10px;">\n<div style="float: left; width: 700px;  text-align:left;">\n<a href="/H1B_Visa.aspx">h1b visa</a> |\n<a href="/Worker-Visa-USA.htm">work visa</a> |\n<a href="/F1-Visa/I20-School-Find.aspx">student visa</a> |\n<a href="/Green_Card.aspx">green card</a> |\n<a href="/ImmigrationAttorney.aspx">attorney</a> |\n\n<a href="/E-Verify.aspx">e-verify</a> |\n<a href="/CV/Candidates.aspx">candidate</a> |\n<a href="/Reports/">visa report</a> |\n<a href="/Blog/">blog</a>\n\n\n\n</div>\n<div style="float: right; width: 280px; font-size:12px;  text-align:right;">\n\n<a href="/Account/Login.aspx" rel="nofollow">sign in</a> | <a href="/Account/Create.aspx" rel="nofollow">create free account</a> | <a href="/Account/BCreate.aspx" rel="nofollow">employer</a> \n \n</div>\n</div>\n</td>\n</tr>\n<tr style="background-color:Transparent;">\n<td>\n<a href="/" id="ctl00_ctl00_linkHomeImage"><img src="/Images/NewLogo.png" id="ctl00_ctl00_Img1" style="border-color:White; height:50px; padding-bottom:5px;" title="Live and Work in United States" alt="myvisajobs.com"> </a>\n\n</td>\n<td></td>\n<td align="right">\n<table>\n    <tbody><tr>\n \n               <td style="padding-right:10px;"><a href="/Reports/2020-H1B-Visa-Sponsor.aspx">Browse Employers</a></td> <td> or&nbsp;&nbsp; </td>\n                <td>     <input name="ctl00$ctl00$txtEmp" type="text" value="enter employer name" id="ctl00_ctl00_txtEmp" onfocus="this.value=\'\';this.style.color=\'black\';" style="color:Gray;width:130px;" class="ui-autocomplete-input" autocomplete="off"><span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>          \n     \n                   </td>  \n\n        \n        <td> \n            <input type="submit" name="ctl00$ctl00$btnEmployer" value="Search" id="ctl00_ctl00_btnEmployer" style="width:60px;">\n\n        </td>\n        \n \n\n        </tr>\n</tbody></table>\n</td>\n</tr>\n<tr>\n<td colspan="3" style="line-height:12px;">\n <hr>\n\n<div style="width: 980px; text-align:left;font-size:12px;">\n\n<span id="ctl00_ctl00_lblMenu"><a href="/">Home</a> &gt; <a href="/Reports/">2021 H1B Visa Reports</a> &gt;  Top H1B Visa Sponsor by Work State</span>\n\n\n</div>\n\n <hr>\n</td>\n</tr>\n<tr style="background-color: transparent; height: auto !important;">\n \n<td colspan="3" style="height: auto !important;">\n<div style="width: 768px; font-size: 12px; height: auto !important;">\n    \n<table style="height: auto !important;">\n<tbody><tr valign="top" style="height: auto !important;">\n<td style="width: 160px; vertical-align: top; height: auto !important;">\n<script src="https://partner.googleadservices.com/gampad/cookie.js?domain=www.myvisajobs.com&amp;callback=_gfp_s_&amp;client=ca-pub-5314779257581305"></script><script src="https://pagead2.googlesyndication.com/pagead/managed/js/adsense/m202112060101/show_ads_impl_fy2019.js" id="google_shimpl"></script><script async="" src="//www.google-analytics.com/analytics.js"></script><script async="" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>\n<!-- 160x600, created 10/18/10 -->\n<ins class="adsbygoogle" style="display: block; height: 125px;" data-ad-client="ca-pub-5314779257581305" data-ad-slot="7975252223" data-ad-format="auto" data-full-width-responsive="true" data-adsbygoogle-status="done" data-ad-status="filled"><ins id="aswift_0_expand" tabindex="0" title="Advertisement" aria-label="Advertisement" style="border: none; height: auto !important; width: 158px; margin: 0px; padding: 0px; position: relative; visibility: visible; background-color: transparent; display: inline-table;"><ins id="aswift_0_anchor" style="border: none; height: 125px; width: 158px; margin: 0px; padding: 0px; position: relative; visibility: visible; background-color: transparent; display: block; overflow: visible;"><iframe id="aswift_0" name="aswift_0" style="left:0;position:absolute;top:0;border:0;width:158px;height:125px;" sandbox="allow-forms allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts allow-top-navigation-by-user-activation" width="158" height="125" frameborder="0" src="https://googleads.g.doubleclick.net/pagead/ads?client=ca-pub-5314779257581305&amp;output=html&amp;h=125&amp;slotname=7975252223&amp;adk=3559713686&amp;adf=294867500&amp;pi=t.ma~as.7975252223&amp;w=158&amp;fwrn=4&amp;fwrnh=100&amp;lmt=1640899107&amp;rafmt=1&amp;psa=0&amp;format=158x125&amp;url=https%3A%2F%2Fwww.myvisajobs.com%2FReports%2F2021-H1B-Visa-Category.aspx%3FT%3DWS&amp;flash=0&amp;fwr=0&amp;fwrattr=true&amp;rpe=1&amp;resp_fmts=3&amp;wgl=1&amp;uach=WyJtYWNPUyIsIjEyLjEuMCIsImFybSIsIiIsIjk2LjAuNDY2NC4xMTAiLFtdLG51bGwsbnVsbCwiNjQiXQ..&amp;dt=1640899106927&amp;bpp=11&amp;bdt=789&amp;idt=260&amp;shv=r20211207&amp;mjsv=m202112060101&amp;ptt=9&amp;saldr=aa&amp;abxe=1&amp;correlator=5077726194725&amp;frm=20&amp;pv=2&amp;ga_vid=721858506.1640899107&amp;ga_sid=1640899107&amp;ga_hid=1265592477&amp;ga_fc=1&amp;u_tz=-300&amp;u_his=2&amp;u_h=900&amp;u_w=1440&amp;u_ah=801&amp;u_aw=1440&amp;u_cd=30&amp;u_sd=2&amp;dmc=8&amp;adx=10&amp;ady=147&amp;biw=566&amp;bih=676&amp;scr_x=0&amp;scr_y=0&amp;eid=44750774%2C44753656%2C31063858%2C31063246&amp;oid=2&amp;pvsid=2989686709419494&amp;pem=309&amp;tmod=614&amp;eae=0&amp;fc=896&amp;brdim=0%2C25%2C0%2C25%2C1440%2C25%2C566%2C800%2C566%2C676&amp;vis=1&amp;rsz=d%7C%7CEe%7C&amp;abl=CS&amp;pfx=0&amp;fu=1152&amp;bc=31&amp;ifi=1&amp;uci=a!1&amp;fsb=1&amp;xpc=otIdrNSnzk&amp;p=https%3A//www.myvisajobs.com&amp;dtd=316" marginwidth="0" marginheight="0" vspace="0" hspace="0" allowtransparency="true" scrolling="no" allowfullscreen="true" allow="attribution-reporting" data-google-container-id="a!1" data-google-query-id="CNv7ncO5jPUCFUiQyAodWbYJdg" data-load-complete="true"></iframe></ins></ins></ins>\n<script>\n    (adsbygoogle = window.adsbygoogle || []).push({});\n</script>\n\n\n</td>\n<td style="width: 820px; vertical-align: top; height: auto !important;">\n    \n         <center>\n<div id="ctl00_ctl00_ContentPlaceHolder1_ContentPlaceHolder1_divContent"><center><h3><a href="/Reports/">2021 H1B Visa Report</a>: Top H1B Visa Work State</h3><br><br>Other Reports: <a href="/Reports/2021-H1B-Visa-Sponsor.aspx">All</a> | <a href="/Reports/2021-H1B-Visa-Category.aspx?T=OC">Occupation</a> | <a href="/Reports/2021-H1B-Visa-Category.aspx?T=ST">Visa Status</a> | <a href="/Reports/2021-H1B-Visa-Category.aspx?T=JT">Job Title</a> | <a href="/Reports/2021-H1B-Visa-Category.aspx?T=IN">Industry</a> | <a href="/Reports/2021-H1B-Visa-Category.aspx?T=WC">Work City</a> | Work State</center><br></div></center><table class="tbl" style="height: auto !important;"><tbody><tr class="headrow"><td>Rank</td><td>Work State</td><td>Number of LCA  <sup><a href="#LCA">*</a></sup></td><td>Average Salary</td></tr><tr><td>1</td><td><a href="/California-2021WS.htm">California</a></td><td>115,871</td><td>$133,057</td></tr> <tr><td>2</td><td><a href="/Texas-2021WS.htm">Texas</a></td><td>59,022</td><td>$103,411</td></tr> <tr><td>3</td><td><a href="/New-York-2021WS.htm">New York</a></td><td>46,800</td><td>$119,431</td></tr> <tr><td>4</td><td><a href="/Washington-2021WS.htm">Washington</a></td><td>32,392</td><td>$130,648</td></tr> <tr><td>5</td><td><a href="/New-Jersey-2021WS.htm">New Jersey</a></td><td>31,283</td><td>$108,412</td></tr> <tr><td>6</td><td><a href="/Illinois-2021WS.htm">Illinois</a></td><td>27,672</td><td>$101,266</td></tr> <tr><td>7</td><td><a href="/Massachusetts-2021WS.htm">Massachusetts</a></td><td>22,819</td><td>$108,441</td></tr> <tr><td>8</td><td><a href="/North-Carolina-2021WS.htm">North Carolina</a></td><td>20,792</td><td>$102,793</td></tr> <tr><td>9</td><td><a href="/Pennsylvania-2021WS.htm">Pennsylvania</a></td><td>19,750</td><td>$101,629</td></tr> <tr><td>10</td><td><a href="/Georgia-2021WS.htm">Georgia</a></td><td>19,595</td><td>$100,349</td></tr> <tr><td>11</td><td><a href="/Michigan-2021WS.htm">Michigan</a></td><td>17,233</td><td>$93,223</td></tr> <tr><td>12</td><td><a href="/Florida-2021WS.htm">Florida</a></td><td>17,197</td><td>$96,247</td></tr> <tr style="height: auto !important;"><td colspan="4"><script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script><!-- ResVisaCenter --><ins class="adsbygoogle" style="display: block; height: 280px;" data-ad-client="ca-pub-5314779257581305" data-ad-slot="9357530957" data-ad-format="auto" data-adsbygoogle-status="done" data-ad-status="filled"><ins id="aswift_1_expand" tabindex="0" title="Advertisement" aria-label="Advertisement" style="border: none; height: auto !important; width: 784px; margin: 0px; padding: 0px; position: relative; visibility: visible; background-color: transparent; display: inline-table;"><ins id="aswift_1_anchor" style="border: none; height: 280px; width: 784px; margin: 0px; padding: 0px; position: relative; visibility: visible; background-color: transparent; display: block; overflow: visible;"><iframe id="aswift_1" name="aswift_1" style="left:0;position:absolute;top:0;border:0;width:784px;height:280px;" sandbox="allow-forms allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts allow-top-navigation-by-user-activation" width="784" height="280" frameborder="0" src="https://googleads.g.doubleclick.net/pagead/ads?client=ca-pub-5314779257581305&amp;output=html&amp;h=280&amp;slotname=9357530957&amp;adk=673704859&amp;adf=537510822&amp;pi=t.ma~as.9357530957&amp;w=784&amp;fwrn=4&amp;fwrnh=100&amp;lmt=1640899107&amp;rafmt=1&amp;psa=0&amp;format=784x280&amp;url=https%3A%2F%2Fwww.myvisajobs.com%2FReports%2F2021-H1B-Visa-Category.aspx%3FT%3DWS&amp;flash=0&amp;fwr=0&amp;rpe=1&amp;resp_fmts=3&amp;wgl=1&amp;uach=WyJtYWNPUyIsIjEyLjEuMCIsImFybSIsIiIsIjk2LjAuNDY2NC4xMTAiLFtdLG51bGwsbnVsbCwiNjQiXQ..&amp;dt=1640899106939&amp;bpp=10&amp;bdt=802&amp;idt=341&amp;shv=r20211207&amp;mjsv=m202112060101&amp;ptt=9&amp;saldr=aa&amp;abxe=1&amp;prev_fmts=158x125&amp;correlator=5077726194725&amp;frm=20&amp;pv=1&amp;ga_vid=721858506.1640899107&amp;ga_sid=1640899107&amp;ga_hid=1265592477&amp;ga_fc=1&amp;u_tz=-300&amp;u_his=2&amp;u_h=900&amp;u_w=1440&amp;u_ah=801&amp;u_aw=1440&amp;u_cd=30&amp;u_sd=2&amp;dmc=8&amp;adx=180&amp;ady=563&amp;biw=566&amp;bih=676&amp;scr_x=0&amp;scr_y=0&amp;eid=44750774%2C44753656%2C31063858%2C31063246&amp;oid=2&amp;pvsid=2989686709419494&amp;pem=309&amp;tmod=614&amp;eae=0&amp;fc=896&amp;brdim=0%2C25%2C0%2C25%2C1440%2C25%2C566%2C800%2C566%2C676&amp;vis=1&amp;rsz=d%7C%7CEe%7C&amp;abl=CS&amp;pfx=0&amp;fu=1152&amp;bc=31&amp;ifi=2&amp;uci=a!2&amp;fsb=1&amp;xpc=wZYKXP3lT9&amp;p=https%3A//www.myvisajobs.com&amp;dtd=349" marginwidth="0" marginheight="0" vspace="0" hspace="0" allowtransparency="true" scrolling="no" allowfullscreen="true" allow="attribution-reporting" data-google-container-id="a!2" data-google-query-id="CMOPn8O5jPUCFcfOyAodZw8JsA" data-load-complete="true"></iframe></ins></ins></ins><script>(adsbygoogle = window.adsbygoogle || []).push({}); </script></td></tr><tr><td>13</td><td><a href="/Virginia-2021WS.htm">Virginia</a></td><td>16,781</td><td>$104,450</td></tr> <tr><td>14</td><td><a href="/Ohio-2021WS.htm">Ohio</a></td><td>13,991</td><td>$97,154</td></tr> <tr><td>15</td><td><a href="/Arizona-2021WS.htm">Arizona</a></td><td>10,070</td><td>$98,698</td></tr> <tr><td>16</td><td><a href="/Maryland-2021WS.htm">Maryland</a></td><td>9,353</td><td>$103,244</td></tr> <tr><td>17</td><td><a href="/Minnesota-2021WS.htm">Minnesota</a></td><td>8,813</td><td>$100,008</td></tr> <tr><td>18</td><td><a href="/Connecticut-2021WS.htm">Connecticut</a></td><td>8,638</td><td>$103,595</td></tr> <tr><td>19</td><td><a href="/Missouri-2021WS.htm">Missouri</a></td><td>8,213</td><td>$96,802</td></tr> <tr><td>20</td><td><a href="/Colorado-2021WS.htm">Colorado</a></td><td>6,472</td><td>$103,715</td></tr> <tr><td>21</td><td><a href="/Tennessee-2021WS.htm">Tennessee</a></td><td>6,438</td><td>$93,109</td></tr> <tr><td>22</td><td><a href="/Indiana-2021WS.htm">Indiana</a></td><td>6,017</td><td>$94,089</td></tr> <tr><td>23</td><td><a href="/Wisconsin-2021WS.htm">Wisconsin</a></td><td>5,491</td><td>$98,665</td></tr> <tr><td>24</td><td><a href="/Oregon-2021WS.htm">Oregon</a></td><td>4,405</td><td>$106,083</td></tr> <tr><td>25</td><td><a href="/Arkansas-2021WS.htm">Arkansas</a></td><td>4,166</td><td>$90,937</td></tr> <tr><td>26</td><td><a href="/District-of-Columbia-2021WS.htm">District of Columbia</a></td><td>3,757</td><td>$108,155</td></tr> <tr><td>27</td><td><a href="/Utah-2021WS.htm">Utah</a></td><td>3,036</td><td>$93,807</td></tr> <tr><td>28</td><td><a href="/Iowa-2021WS.htm">Iowa</a></td><td>2,896</td><td>$99,313</td></tr> <tr><td>29</td><td><a href="/Delaware-2021WS.htm">Delaware</a></td><td>2,890</td><td>$106,048</td></tr> <tr><td>30</td><td><a href="/Kentucky-2021WS.htm">Kentucky</a></td><td>2,654</td><td>$95,828</td></tr> <tr><td>31</td><td><a href="/South-Carolina-2021WS.htm">South Carolina</a></td><td>2,604</td><td>$95,461</td></tr> <tr><td>32</td><td><a href="/Rhode-Island-2021WS.htm">Rhode Island</a></td><td>2,238</td><td>$102,339</td></tr> <tr><td>33</td><td><a href="/Kansas-2021WS.htm">Kansas</a></td><td>2,173</td><td>$97,535</td></tr> <tr><td>34</td><td><a href="/Nebraska-2021WS.htm">Nebraska</a></td><td>1,880</td><td>$96,472</td></tr> <tr><td>35</td><td><a href="/Alabama-2021WS.htm">Alabama</a></td><td>1,727</td><td>$106,244</td></tr> <tr><td>36</td><td><a href="/New-Hampshire-2021WS.htm">New Hampshire</a></td><td>1,559</td><td>$103,829</td></tr> <tr><td>37</td><td><a href="/Oklahoma-2021WS.htm">Oklahoma</a></td><td>1,473</td><td>$94,473</td></tr> <tr><td>38</td><td><a href="/Louisiana-2021WS.htm">Louisiana</a></td><td>1,454</td><td>$109,767</td></tr> <tr><td>39</td><td><a href="/Nevada-2021WS.htm">Nevada</a></td><td>1,393</td><td>$103,720</td></tr> <tr><td>40</td><td><a href="/New-Mexico-2021WS.htm">New Mexico</a></td><td>972</td><td>$107,422</td></tr> <tr><td>41</td><td><a href="/Mississippi-2021WS.htm">Mississippi</a></td><td>778</td><td>$122,443</td></tr> <tr><td>42</td><td><a href="/Idaho-2021WS.htm">Idaho</a></td><td>737</td><td>$98,180</td></tr> <tr><td>43</td><td><a href="/Maine-2021WS.htm">Maine</a></td><td>503</td><td>$127,667</td></tr> <tr><td>44</td><td><a href="/West-Virginia-2021WS.htm">West Virginia</a></td><td>422</td><td>$154,387</td></tr> <tr><td>45</td><td><a href="/Hawaii-2021WS.htm">Hawaii</a></td><td>393</td><td>$103,854</td></tr> <tr><td>46</td><td><a href="/North-Dakota-2021WS.htm">North Dakota</a></td><td>333</td><td>$121,633</td></tr> <tr><td>47</td><td><a href="/South-Dakota-2021WS.htm">South Dakota</a></td><td>284</td><td>$113,815</td></tr> <tr><td>48</td><td><a href="/Vermont-2021WS.htm">Vermont</a></td><td>226</td><td>$97,207</td></tr> <tr><td>49</td><td><a href="/Montana-2021WS.htm">Montana</a></td><td>159</td><td>$117,393</td></tr> <tr><td>50</td><td><a href="/Alaska-2021WS.htm">Alaska</a></td><td>117</td><td>$108,937</td></tr> <tr><td>51</td><td><a href="/Wyoming-2021WS.htm">Wyoming</a></td><td>96</td><td>$123,032</td></tr> </tbody></table><div class="note" style="height: auto !important;"><script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script><!-- ResVisaBottom --><ins class="adsbygoogle" style="display: block; height: 198px;" data-ad-client="ca-pub-5314779257581305" data-ad-slot="1834264150" data-ad-format="auto" data-adsbygoogle-status="done" data-ad-status="filled"><ins id="aswift_2_expand" tabindex="0" title="Advertisement" aria-label="Advertisement" style="border: none; height: auto !important; width: 768px; margin: 0px; padding: 0px; position: relative; visibility: visible; background-color: transparent; display: inline-table;"><ins id="aswift_2_anchor" style="border: none; height: 198px; width: 768px; margin: 0px; padding: 0px; position: relative; visibility: visible; background-color: transparent; display: block; overflow: hidden;"><iframe id="aswift_2" name="aswift_2" style="left: 0px; position: absolute; top: 0px; border: 0px; width: 768px; height: 198px;" sandbox="allow-forms allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts allow-top-navigation-by-user-activation" width="768" height="198" frameborder="0" src="https://googleads.g.doubleclick.net/pagead/ads?client=ca-pub-5314779257581305&amp;output=html&amp;h=280&amp;slotname=1834264150&amp;adk=3725011426&amp;adf=2307625378&amp;pi=t.ma~as.1834264150&amp;w=768&amp;fwrn=4&amp;fwrnh=100&amp;lmt=1640899107&amp;rafmt=1&amp;psa=0&amp;format=768x280&amp;url=https%3A%2F%2Fwww.myvisajobs.com%2FReports%2F2021-H1B-Visa-Category.aspx%3FT%3DWS&amp;flash=0&amp;fwr=0&amp;rpe=1&amp;resp_fmts=3&amp;wgl=1&amp;uach=WyJtYWNPUyIsIjEyLjEuMCIsImFybSIsIiIsIjk2LjAuNDY2NC4xMTAiLFtdLG51bGwsbnVsbCwiNjQiXQ..&amp;dt=1640899106950&amp;bpp=3&amp;bdt=812&amp;idt=347&amp;shv=r20211207&amp;mjsv=m202112060101&amp;ptt=9&amp;saldr=aa&amp;abxe=1&amp;prev_fmts=158x125%2C784x280&amp;correlator=5077726194725&amp;frm=20&amp;pv=1&amp;ga_vid=721858506.1640899107&amp;ga_sid=1640899107&amp;ga_hid=1265592477&amp;ga_fc=1&amp;u_tz=-300&amp;u_his=2&amp;u_h=900&amp;u_w=1440&amp;u_ah=801&amp;u_aw=1440&amp;u_cd=30&amp;u_sd=2&amp;dmc=8&amp;adx=176&amp;ady=1705&amp;biw=566&amp;bih=676&amp;scr_x=0&amp;scr_y=0&amp;eid=44750774%2C44753656%2C31063858%2C31063246&amp;oid=2&amp;pvsid=2989686709419494&amp;pem=309&amp;tmod=614&amp;eae=0&amp;fc=896&amp;brdim=0%2C25%2C0%2C25%2C1440%2C25%2C566%2C800%2C566%2C676&amp;vis=1&amp;rsz=d%7C%7CEebr%7C&amp;abl=CS&amp;pfx=0&amp;fu=1152&amp;bc=31&amp;ifi=3&amp;uci=a!3&amp;btvi=1&amp;fsb=1&amp;xpc=kKVrYL3ZPk&amp;p=https%3A//www.myvisajobs.com&amp;dtd=356" marginwidth="0" marginheight="0" vspace="0" hspace="0" allowtransparency="true" scrolling="no" allowfullscreen="true" allow="attribution-reporting" data-google-container-id="a!3" data-google-query-id="CNCun8O5jPUCFUmAyAodSZMNsg" data-load-complete="true"></iframe></ins></ins></ins><script>(adsbygoogle = window.adsbygoogle || []).push({}); </script>The above report lists the top 100 Work State submitted by US emplloyer in fiscal year 2020. The H1B Visa Petitions is the number of Labor Condition Application(LCA) for H1B Visa. . The number includes new, renew and transfer of LCA. The Average Salary is the average proffered salary on LCA or Form 9035. Sometimes the visa sponsors(employers) does not enter a specific salary, but a salary range. Our algorithm uses the middle point of the range to calculate the average salary.<br><br>For Example, the first record on this report means that in fiscal year 2020 115,871 LCA submitted for H1B Visa are California. The average salary of those  115,871 LCA is $133,057.<br><br>*: <a name="LCA">The number of LCA</a> includes renewed, transferred and cap-exempt LCA. Department of Labor(DOL) typically certifies more than 3 times the number of foreign work requests than the number of H-1B visas issued by USCIS. <br><br>A new LCA is needed if the foreigner worker changes his or her work location(even within the same state and same company), because the prevailing wage of the position depends on geographic location. However, if the new location is within the same Metropolitan Statistical Area or normal commuting distance, no new LCA is needed. </div>\n\n\n\n</td>\n\n</tr>\n\n</tbody></table>\n\n\n\n\n</div>\n</td>\n</tr>\n    <tr>\n           <td width="160px"></td>\n        <td colspan="2">\n\n\n    <center>\n<hr>\n\n          <small>\n<a href="/Green_Card.aspx">Green Card</a> |\n<a href="/H1B_Visa.aspx">H1B Visa</a> |\n<a href="/F1-Visa/I20-School-Find.aspx">Student Visa</a> |\n<a href="/Worker-Visa-USA.htm">Work Visa</a> |\n<a href="/ImmigrationAttorney.aspx">Immigration Attorney</a> |\n<a href="/AboutUs.aspx">About Us</a> |\n<a href="/Common/Contact.aspx" rel="nofollow">Contact Us</a> |\n<a href="/Common/FAQ.aspx">FAQ</a>  |\n<a href="/Reports/">Visa Reports</a> \n<br>\n<br>\nCopyright Â© 2006 - 2021</small>\n\n\n    </center>\n\n      

In [5]:
driver.current_url

'https://www.myvisajobs.com/Reports/2021-H1B-Visa-Category.aspx?T=WS'

In [7]:
df = pd.read_html(table.get_attribute('outerHTML'))[3]
df

,0,1,2,3
0,Rank,Work State,Number of LCA *,Average Salary
1,1,California,115871,"$133,057"
2,2,Texas,59022,"$103,411"
3,3,New York,46800,"$119,431"
4,4,Washington,32392,"$130,648"
5,5,New Jersey,31283,"$108,412"
6,6,Illinois,27672,"$101,266"
7,7,Massachusetts,22819,"$108,441"
8,8,North Carolina,20792,"$102,793"
9,9,Pennsylvania,19750,"$101,629"
10,10,Georgia,19595,"$100,349"
11,11,Michigan,17233,"$93,223"
12,12,Florida,17197,"$96,247"
13,(adsbygoogle = window.adsbygoogle || []).push(...,(adsbygoogle = window.adsbygoogle || []).push(...,(adsbygoogle = window.adsbygoogle || []).push(...,(adsbygoogle = window.adsbygoogle || []).push(...
14,13,Virginia,16781,"$104,450"
15,14,Ohio,13991,"$97,154"
16,15,Arizona,10070,"$98,698"
17,16,Maryland,9353,"$103,244"
18,17,Minnesota,8813,"$100,008"
19,18,Connecticut,8638,"$103,595"
20,19,Missouri,8213,"$96,802"
21,20,Colorado,6472,"$103,715"
22,21,Tennessee,6438,"$93,109"
23,22,Indiana,6017,"$94,089"
24,23,Wisconsin,5491,"$98,665"
25,24,Oregon,4405,"$106,083"
26,25,Arkansas,4166,"$90,937"
27,26,District of Columbia,3757,"$108,155"
28,27,Utah,3036,"$93,807"
29,28,Iowa,2896,"$99,313"
30,29,Delaware,2890,"$106,048"
31,30,Kentucky,2654,"$95,828"
32,31,South Carolina,2604,"$95,461"
33,32,Rhode Island,2238,"$102,339"
34,33,Kansas,2173,"$97,535"
35,34,Nebraska,1880,"$96,472"
36,35,Alabama,1727,"$106,244"
37,36,New Hampshire,1559,"$103,829"
38,37,Oklahoma,1473,"$94,473"
39,38,Louisiana,1454,"$109,767"
40,39,Nevada,1393,"$103,720"
41,40,New Mexico,972,"$107,422"
42,41,Mississippi,778,"$122,443"
43,42,Idaho,737,"$98,180"
44,43,Maine,503,"$127,667"
45,44,West Virginia,422,"$154,387"
46,45,Hawaii,393,"$103,854"
47,46,North Dakota,333,"$121,633"
48,47,South Dakota,284,"$113,815"
49,48,Vermont,226,"$97,207"
50,49,Montana,159,"$117,393"
51,50,Alaska,117,"$108,937"
52,51,Wyoming,96,"$123,032"

In [10]:
df.columns = ['rank', 'state', 'number_of_applications' , 'average salary']

In [11]:
df.head(3)

   rank       state number_of_applications  average salary
0  Rank  Work State        Number of LCA *  Average Salary
1     1  California                 115871        $133,057
2     2       Texas                  59022        $103,411

In [12]:
df.drop(index=df.index[0], 
        axis=0, 
        inplace=True)

In [13]:
df.head(3)

  rank       state number_of_applications average salary
1    1  California                 115871       $133,057
2    2       Texas                  59022       $103,411
3    3    New York                  46800       $119,431

In [14]:
years = [
    "2011",
    "2012",
    "2013","2014","2015", "2016", "2017", "2018", "2019", "2020"]
for year in years:
    href = "https://www.myvisajobs.com/Reports/" + year + "-H1B-Visa-Category.aspx?T=WS#LCA"
    print(href)

https://www.myvisajobs.com/Reports/2011-H1B-Visa-Category.aspx?T=WS#LCA
https://www.myvisajobs.com/Reports/2012-H1B-Visa-Category.aspx?T=WS#LCA
https://www.myvisajobs.com/Reports/2013-H1B-Visa-Category.aspx?T=WS#LCA
https://www.myvisajobs.com/Reports/2014-H1B-Visa-Category.aspx?T=WS#LCA
https://www.myvisajobs.com/Reports/2015-H1B-Visa-Category.aspx?T=WS#LCA
https://www.myvisajobs.com/Reports/2016-H1B-Visa-Category.aspx?T=WS#LCA
https://www.myvisajobs.com/Reports/2017-H1B-Visa-Category.aspx?T=WS#LCA
https://www.myvisajobs.com/Reports/2018-H1B-Visa-Category.aspx?T=WS#LCA
https://www.myvisajobs.com/Reports/2019-H1B-Visa-Category.aspx?T=WS#LCA
https://www.myvisajobs.com/Reports/2020-H1B-Visa-Category.aspx?T=WS#LCA